@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

table{
  width: 80%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color: #a7a1ae;
  background-color: #1f2739;
}

.title_1 {
  font-size: 3em;
  font-weight: 300;
  line-height: 1em;
  text-align: center;
  color: #fff842;
}
.title_2 {
  font-size: 3em;
  font-weight: 300;
  line-height: 1em;
  text-align: center;
  color: #4dc3fa;
}

h2 {
  font-size: 2em;
  font-weight: 300;
  display: block;
  line-height: 1em;
  padding-top: 2em;
  color: #4dc3fa;
}

.blue {
  color: #185875;
}
.yellow {
  color: #fff842;
}


td {
  font-weight: normal;
  font-size: 1em;
}

td,th {
  padding-bottom: 2%;
  padding-top: 2%;
  padding-left: 2%;
}

/* Background-color of the odd rows */
tr:nth-child(odd) {
  background-color: #323c50;
}

/* Background-color of the even rows */
tr:nth-child(even) {
  background-color: #2c3446;
}

th {
  background-color: #323c50;
}

.incompleted-task {
  color: #fb667a;
}
.completed-task {
  color: #0ecc00;
}

tr:hover {
  background-color: #464a52;
}

.btn_complete{
    font-size: 1rem;
    text-shadow: none;
    line-height: 1.2;
    display: inline-block;
    padding: 10px 16px;
    margin: 0 10px 0 0;
    position: relative;
    border-radius: 4px;
    border: 3px solid transparent;
    background: #0ecc00;
    color: white;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none !important;
    text-align: center;
}
.btn_incomplete{
    font-size: 1rem;
    text-shadow: none;
    line-height: 1.2;
    display: inline-block;
    padding: 10px 16px;
    margin: 0 10px 0 0;
    position: relative;
    border-radius: 4px;
    border: 3px solid transparent;
    background: #fb667a;
    color: white;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none !important;
    text-align: center;
}

